.header {
  position: relative;
  float: left;
  width: 100%;
  h2 {
    font-family: $MuseoCyrl;
    font-size: 30px;
    text-align: center;
    margin: 60px 0 25px;
    @include breakpoint(max-width 600px) {
      font-size: 20px;
      margin-top: 40px;
    }
  }
  p {
    font-family: $GilroyMedium;
    font-size: 16px;
    text-align: center;
    width: 90%;
    margin: 0 auto 70px;
    @include breakpoint(max-width 600px) {
      font-size: 13px;
      margin-bottom: 40px;
    }
  }
  &__action {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  &__form {
    position: relative;
    float: left;
    width: 515px;
    padding: 35px;
    box-sizing: border-box;
    box-shadow: 0 0 40px 10px #1f3f69;
    margin-left: 60px;
    @include breakpoint(max-width 1200px) {
      margin-left: 0;
    }
    @include breakpoint(max-width 992px) {
      margin: 0 auto;
      float: none;
    }
    @include breakpoint(max-width 600px) {
      width: 100%;
      font-size: 12px;
    }
    &--tabs {
      position: relative;
      float: left;
      width: 100%;
      border: 2px solid #51af9d;
      margin-bottom: 10px;
    }
    &--tab {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      height: 60px;
      float: left;
      width: 50%;
      text-align: center;
      transition: .5s;
      padding: 25px 40px;
      cursor: pointer;
      font-size: 15px;
      margin: 0;
      color: #fff;
      &:hover {
        color: #fff;
      }
      @include breakpoint(max-width 600px) {
        font-size: 13px;
        height: 45px;
      }
    }
    &--content{
      display: none;
      position: relative;
      float: left;
      width: 100%;
    }
    &--field {
      position: relative;
      float: left;
      width: 100%;
      padding-top: 10px;
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7) {
        width: 21%;
        margin-right: 5.33%;
      }
      &:nth-of-type(7) {
        margin-right: 0;
      }
      @include breakpoint(max-width 600px) {
        padding-top: 0;
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7) {
          width: 48%;
          margin-right: 4%;
        }
        &:nth-of-type(5),
        &:nth-of-type(7) {
          margin-right: 0;
        }
      }

      span {
        position: relative;
        float: left;
        width: 100%;
        padding: 10px;
        sup {
          margin-left: 5px;
          color: #b66164;
        }
      }
      input {
        position: relative;
        float: left;
        width: 100%;
        border: none;
        height: 43px;
        padding: 0 10px;
        color: #000;
        @include breakpoint(max-width 600px) {
          height: 35px;
        }
      }
    }
    .active-tab {
      background-color: #51af9d!important;
      transition: .5s;
      color: #fff;
    }
    .active-content {
      display: block;
    }
    button {
      position: relative;
      margin-top: 30px;
      float: left;
      width: 100%;
      height: 63px;
      font-size: 30px;
      font-family: $MuseoCyrl;
      text-align: center;
      border: none;
      background-color: #eb604b;
      @include breakpoint(max-width 600px) {
        font-size: 20px;
        height: 45px;
      }
    }
  }
  ul {
    position: relative;
    float: left;
    max-width: 360px;
    margin-left: 60px;
    padding: 0;
    @include breakpoint(max-width 1200px) {
      margin-left: 30px;
      max-width: 320px;
    }
    @include breakpoint(max-width 992px) {
      max-width: 100%;
      margin: 50px 20px 30px;
    }
    li {
      list-style: none;
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 20px;
      img {
        position: relative;
        float: left;
        margin-right: 20px;
        @include breakpoint(max-width 600px) {
          width: 40px;
          margin-bottom: 20px;
        }
      }
      h3 {
        font-family:$MuseoCyrl;
        font-size: 19px;
        position: relative;
        float: left;
        width: calc(100% - 90px);
        margin-top: 10px;
        @include breakpoint(max-width 600px) {
          font-size: 15px;
        }
      }
      p {
        font-family:$GilroyRegular;
        font-size: 16px;
        position: relative;
        float: left;
        width: calc(100% - 90px);
        text-align: left;
        margin-bottom: 10px;
        @include breakpoint(max-width 600px) {
          width: 100%;
          font-size: 13px;
        }
      }
    }
  }
  .tinkoff-link {
    position: fixed;
    display: block;
    top: 200px;
    left: 0;
    z-index: 1000;
    @include breakpoint(max-height 700px) {
      top: 120px;
    }
    @include breakpoint(max-height 500px) {
      position: relative;
      float: left;
      width: 100%;
      height: 200px;
      text-align: center;
      margin-top: -120px;
      margin-bottom: 40px;
    }
    @include breakpoint(max-width 440px) {
      position: relative;
      float: left;
      width: 100%;
      height: 200px;
      text-align: center;
      margin-top: -120px;
      margin-bottom: 40px;
    }
  }
}