$blue: #264e82;

.clearfix {
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}

.border-header {
  display: inline-block;
  font-size: 30px;
  position: relative;
  padding:15px 20px;
  border: 6px solid #fff;
  margin-bottom: 80px;
  margin-top: 100px;
}

.green {
  color: #51af9d;
}
.red {
  color: #eb604b;
}

.rotate180 {
  transform: rotate(180deg);
  transition: 1s;
}

.show-comment,
.show-statements {
  display: none;
  width: 100%;
  height: 40px;
  object-fit: none;
  transition: 1s;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.show-comment {
  @include breakpoint(max-width 579px) {
    display: block;
  }
}
.show-statements {
  @include breakpoint(max-width 469px) {
    display: block;
  }
}