.footer {
  position: relative;
  width: 100%;
  margin-top: 90px;
  float: left;
  &__links {
    position: relative;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 40px 10px #1f3f69;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px;
    box-sizing: border-box;
    @include breakpoint(max-width 1200px) {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @include breakpoint(max-width 750px) {
      align-items: flex-start;
      padding: 20px 0;
      margin-bottom: 20px;
    }
    @include breakpoint(max-height 500px) {
      margin-bottom: 80px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 95%;
      height: 90%;
      border: 1px solid #51af9d;
      left: 2.5%;
      top: 5%;
      @include breakpoint(max-width 500px) {
        height: 95%;
        top: 2.5%;
      }
    }
    a {
      display: flex;
      align-content: center;
      align-items: center;
      width: 33%;
      padding: 30px;
      box-sizing: border-box;
      font-family: $MuseoCyrl;
      font-size: 18px;
      color: #fff;
      @include breakpoint(max-width 1200px) {
        width: 50%;
      }
      @include breakpoint(max-width 750px) {
        font-size: 15px;
        width: 300px;
      }
      span {
        color: #fff;
      }
      img {
        position: relative;
        margin-right: 20px;
        object-fit: none;
      }
    }
  }
  p {
    position: relative;
    margin: 30px 0;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    span {
      display: block;
      width: 100%;
      padding-top: 5px;
      font-family: $GilroyRegular;
      font-size: 16px;
    }
  }
}


.tinkoff-link {
  position: fixed;
  display: block;
  height: 200px;
  top: 200px;
  left: 0;
  z-index: 1000;
  @include breakpoint(max-height 700px) {
     top: 120px;
  }
  @include breakpoint(max-height 600px) {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
    top: 0;
    margin: 0 0 60px;
  }
  @include breakpoint(max-width 750px) {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
    top: 0;
    margin: 0 0 60px;
  }
  img {
    position: relative;
    max-width:100%;
    max-height:100%;
  }
}
.social {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 400px;
  @include breakpoint(max-height 700px) {
    top: 320px;
  }
  @include breakpoint(max-height 600px) {
    flex-direction: row;
    position: absolute;
    top: auto;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    height: 35px;
  }
  @include breakpoint(max-width 750px) {
    flex-direction: row;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    height: 35px;
    bottom: 120px;
  }
  @include breakpoint(max-width 423px) {
    bottom: 140px;
  }
}
